{% extends 'base.html' %} {% load static %}

{% block header %}
    <div class="jumbotron text-center text-white mini-header header-account">
        <img class="img-responsive">
        <div class="container my-auto bg-title">
            <h2>
                Mentions Légales
            </h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="single-pg">
        <div class="container">
            <h3 class="">
                Développement du site
            </h3>
        <p>
                Alix VOINOT

                pour PurBeurre
        </p>
        <h3 class="">
            Crédits
        </h3>
        <p>
            Images : Kawin Harasai, Olenka Kotyk, Greg Jeanneau, IconMoon, Pixar, WaltDisney pictures
            <br>Icones : Carrot by Fabien Jouin from the Noun Project</br>
        </p>
        <h3 class="">
            Hébergeur
        </h3>
        <p>
            Heroku
            www.heroku.com

        </p>
        <div class="row">
            <div class="col-lg-12 mx-auto">
            </div>
        </div>
        </div>
    </section>

{% endblock %}