/* #####################################
####        Templates base    ########
######################################*/

#footer1 {

    padding: 8px;
    background-color: #345A61;
    position: static;
    bottom: 0;
    left: 0px;
    right: 0px;

}

.logo_bisc {

  width: 20%;
  padding: 4px;
}

/* #####################################
####        Templates result    ########
######################################*/



.prod {
    background-color: #86EBE6;
    padding: 3% 5% 3% 5%;
    margin-bottom: 30px;
    border-radius: 5%;
    height: 350px;


}

.sub {

    float: left;
}

.sub figure {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;


}


/* #####################################
####        Templates moncompte    #####
######################################*/

.standard {

  background-color: #DE9440;
  margin-top: 0;

}

.header-account {
  background-position: 50%;
  background-size: cover;
}

/* #####################################
####        Templates search    ########
######################################*/

.bck {
   background-color: #86EBE6;
   height: 96%;


}

.liste {
    margin-top: 20px;

}

/* #####################################
####        Templates validation    ####
######################################*/

.result {

    background-color: #DE9440;
    height: 100%
    margin-bottom: 0;
    padding-top: 10%;
    padding-bottom: 30%;

}

/* #####################################
####        Templates login    ########
######################################*/

.log {

  background-color: #DE9440;
  height: 96%;

}

/* #####################################
####        Templates details    #######
######################################*/

#details {

    height: 100%;
    background-color: #86EBE6;

}
/* #####################################
####        Templates mes_aliments #####
######################################*/

.myfav {
    height: 100%;

}