{% extends 'base.html' %} {% load static %}

{% block header %}

<div class="jumbotron text-center text-white mini-header" style="background-image:url('{{ details_prod.img }}')">
  <img class="img-responsive">
  <div class="container my-auto bg-title">
      <h1>{{ details_prod.name }}</h1>

  </div>
</div>
{% endblock %}

{% block body %}

    <div class="details">



    <div class="text-center">
        <strong> Nutriscore</strong> : <h1>{{ details_prod.nutrition_grade }}</h1>
    </div>

    <div class="text-center">
        <h3>Informations nutritionelles : </h3>
        <img src ={{ details_prod.rep_nutritionnel }}>
    </div>

    <div class="text-center">
        <a href={{ details_prod.url }}>Voir la fiche openfoodfacts</a>
    </div>

</div>




{% endblock %}
